body {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform-style: flat; */
    perspective: 500px;
    padding: 200px 15px 200px 15px;
}

h1 {
    font-size: 95px;
    font-weight: 700;
    animation: h1-shadow 15s linear infinite;
    padding: 30px;
    transform-style: preserve-3d;
    background-color: rgba(255, 255, 255, 0.199);
    color: aqua;
    text-shadow: px 0px 50px aqua;
    box-shadow: 0px 5px 100px aqua;
    border-radius: 20px;
    cursor: pointer;
}

@keyframes h1-shadow {
    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
}

@keyframes h1-colors {
    50% {
        color: yellowgreen;
    }
}

@media(max-width:1200px) {
    h1 {
        font-size: 80px;
    }
}

@media(max-width:880px) {
    h1 {
        font-size: 70px;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 50px;
    }
}

@media(max-width:510px) {
    h1 {
        font-size: 40px;
    }
}

@media(max-width:430px) {
    h1 {
        font-size: 30px;
    }
}
